body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	font-family: Arial;
}
.card{
	width: 320px;
	background: #f5f5f5;
	padding: 50px;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.card img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}
.card h1 {
	margin: 10px 0;
	font-size: 28px;
}
.info {
	font-size: 18px;
}
button {
	background: #ff4d4d;
	color: #fff;
	border: none;
	padding: 12px 28px;
	font-size: 16px;
	border-radius: 20px;
	cursor: pointer;
}